table{
    width: 90%;
    margin-left: 80px;
    padding: 30px;
    margin-top: 50px;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    border:1px solid rgb(12, 169, 10);
    border-radius: 30px;
}
td{
    padding: 10px;
   text-align: center;  
}
th{
    padding: 10px;
    color: rgb(255, 136, 0);


    
}
tr:hover{
    background-color: rgb(222, 252, 221);
    border-radius: 50px;

}
.btnn{
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    border: 1.2px solid  rgb(105, 186, 104) ;
    background-color: white;
    cursor: pointer;
    color:  rgb(12, 169, 10);

}
.btnn:hover{
    background-color:rgb(92, 194, 92) ;
    color:white
}
